*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Overpass", "Ubuntu";
}

.primaryRed{
    color: #ff0000;
}
.primaryPink{
    color: #ff7a85;
}
.primaryBlue{
    color: #1f3f5b;
}
.naturalWhite{
    color: white;
}
.naturalGrasBlue{
    color: #c8c8cb;
}
.naturalDarkBlue{
    color: #4b5862;
}
.naturalDarkBlackBlue{
    color: #25252d;
}
.bgGradientRed{
    color:#ff3d54;
}
.bgGradientOrange{
    color: #ff8f70;
}

.mTB{
 margin: 60px 0px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.flex h2{
    font-size: 24px;
    line-height: 1.6;
    color: #1f3f5b;
    font-weight: 400;
}
.flex p{
    font-size: 1rem;
    line-height: 1.6;
    color: #7f8c8d;
    font-weight: 300;
}
.flexGap{
    gap: 40px;
}
.bgImgMobile{
    display: none;
}
.ThirdBg{
    display: none;
}

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}
.header{
    display: flex;
    gap: 70px;
}

.borderWhite{
    border: 1px solid #fff !important;
    border-radius: 20px;
}

/* first section */
.main {
    border-radius: 0 0 0 60px;
    background: linear-gradient(90deg, rgba(255,143,112,.8),  rgba(255,61,84,.9)) , url(images//bg-pattern-intro-desktop.svg) 30%  no-repeat;
    background-size: auto;
}


.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 15px;
    padding: 10px 0;
    gap: 16px;
    color: white;
}


.btnFirst {
    padding: 12px 25px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: none;
 
}
.btnSecond {
    padding: 12px 25px;
    background-color: #ffffff;
    color: #ff7a85;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}
.btn:hover {
    padding: 12px 25px;
    background-color: #ffff;
    color: #ff0000;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: #ffff 0.3s ease;
}
.header_text{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
        gap: 10px;
    padding: 65px;
    font-size: 1.8rem;

}
.header_text_button{
    padding: 15px;

}

.onlymobile i{
    font-size: 24px;
    color: white;
}

/* second section */

.SectionAbout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fourthSection{
    display: grid;
        grid-template-columns: 30% 60%;
}

.SectionAboutImg{
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.SectionAboutImg img{
    display: flex;
    position: relative;
    left: 25%;
    width: 45rem;
    height: auto;
}

.SectionAboutText{
    position: relative;
    left: 13%;
}




.design_image {
    background-image: url(./images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 38rem;
}
.design_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
}
.design_title h1{
    font-size: 32px;
    font-weight: 400;
    color: #1f3f5b;
}
.designed_container{
      position: relative;
      left: 13%;
      width: 85%;
}
.design_text{
    width: 72%;
}

.second{
    display: flex;
    flex-direction: row;
    align-items: center;
} 

/* third section */
.state{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 78px;
    padding: 20px 50px;
}
.state_text p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.6;
    color: #7f8c8d;
    width: 80%;
}
.third_section{
    width: 100%;
    position: relative;
    height: 60vh;
    background-color: #1f3f5b;

}








.sectionThird{
    background-color: hsl(237, 17%, 21%);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    height: 375px;
    position: relative;
    border-radius:  0 60px 0 60px;
}
.sectionThirdBgImg{
    position: relative;
    overflow: hidden;
}
.MainImg{
    position: absolute;
    z-index: 1;
    width: 500px;
    top: -50px;
    left: 10%;
}
.bgImg{
    position: absolute;
    bottom: -38%;
    left: -32%;
}
.sectionThirdText{
    padding: 20px;
    max-width: 600px;
    position: relative;
    top: 0px;
    left: -20%;
}
.sectionThirdText h2{
    font-size: 32px;
    color: #ffffff;
}


/* last section */

  
.features-content {
    position: relative;
    right: 15%;
    width: 85%;

  }
  
  .feature-item {
    margin-bottom: 0px;
  }
  
  .feature-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: #7f8c8d;
  }



.fourthSection{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 45px 0px;
}

.fourthSectiontext{
    width: 100%;
    margin: 30px 0px 30px 0px;
    padding: 30px 0px 30px 0px
  
}
.SectionfourthImg{
    overflow-x: hidden;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.SectionfourthImg img{
    display: flex;
    position: relative;
    right: 18%;
    width: 55rem;
    height: auto;
}

.end_container{
    width: 100%;
    
    padding: 110px 0px 80px 80px;
   
}
.end_container_image{
    background-image: url(images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 38rem;
}
/* footer */
.footer{
    background-color: #25252d;
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5%;
        border-radius: 0 60px 0 0
}
.footer_title{
font-size: 16px;
margin-bottom: 20px;
color: white;
font-weight: 400;
}
.footer_list li{
    list-style: none;
    margin-bottom: 10px;
}
.footer_link{
    color:#c8c8cb;
    text-decoration: none;
}
