@media (min-width: 320px) and (max-width: 767.98px) { 
    body{
        overflow-x: hidden;
        scrollbar-width: hidden;
    }
    .navbar{
        display: none;
    }

    .header_button{
        display: none;
    }

    .header_text {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        /* text-align: center; */
        padding: 50px 37px;
        text-align: center;
    }
    .p{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .main{
        background: linear-gradient(90deg, rgba(255,143,112,.8),  rgba(255,61,84,.9)) , url(images//bg-pattern-intro-mobile.svg) 30%  no-repeat;

    }
    .header {
        display: flex;
        gap: 200px !important;
    }
    .header_text_button {
        padding: 15px;
        display: flex;
        flex-direction: row;
        width: max-content;
        gap: 30px;
    }

    /* second section */

    .designed_container {
        width: 82%;
        left: 10%;
    }
    .secondSection {
        display: flex;
        flex-direction: column;
        margin: 50% 0;
    }
    .design_title h1{
        width: max-content;
        font-size: 26px;
    }
    .onlymobile{
        display: flex;
        justify-content: center;
        width: 85%;
    }
    .SectionAboutImg{
        display: none;
    }
    .SectionAboutImg_mobile img{
        width: 300px;
        position: relative;
        left: 20px;
    }
    .design_text {
        width: 100%;
    }
    .flex h2{
        text-align: center;
    }
    .flex p{
        text-align: center;
    }

    /* third section */

    .sectionThird {
        background-color: hsl(237, 17%, 21%);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 500px;
        position: relative;
        border-radius: 0 120px 0 120px;
    }

    .MainImg {
        position: absolute;
        z-index: 0;
        width: 300px;
        top: -22%;
        left: 10%;
    }
    .bgImg {
        display: none;
    }

    .sectionThirdText {
        padding: 20px;
        max-width: 600px;
        position: relative;
        top: 10%;
        left: 0%;
        display: block;
        z-index: 1;
    }
    .sectionThirdText p {
        color: #ffffff;
    }
    .ThirdBg{
        overflow: hidden;
    }
    .bgImgMobile{
        display: block;
        width: 95%;
        position: absolute;
        bottom: 8%;
        left: 2%;
    }

    .SectionfourthImg img{
        display: none;
    }

    /* 4th  */

    .fourthSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .SectionfourthImg img{
        display: none;
    }

    .features-content {
        
    
        left: 5px;
        position: relative;
        
    }

    .SectionfourthImg_mobile{
        overflow-x: hidden;
    }
    .SectionfourthImg_mobile img{
        width: 340px;
        position: relative;
        left: 20px;
        
    }
        .SectionfourthImg_mobile onlymobile{
        overflow-x: hidden;
        }

    /* footer */
    .footer {
        background-color: #25252d;
        display: flex
    ;
        flex-direction: column;
        /* justify-content: space-around; */
        padding: 10% 37%;
        border-radius: 0 60px 0 0;
    }
    .footer_title {
        font-size: 16px;
        margin: 20px 0px;
        color: white;
        font-weight: bold;
    }
}







@media (min-width: 768px) and (max-width: 991.98px) { 
    .onlymobile{
        display: none;
       }
       .header_text {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .p{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    /* second section */
    .second {
        display: flex
    ;
        flex-direction: row;
        align-items: center;
        margin-bottom: 18%;
    }

    /* third section */

    .sectionThird {
        background-color: hsl(237, 17%, 21%);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 500px;
        position: relative;
        border-radius: 0 120px 0 120px;
    }

    .MainImg {
        position: absolute;
        z-index: 0;
        width: 300px;
        top: -22%;
        left: 10%;
    }
    .bgImg {
        display: none;
    }

    .sectionThirdText {
        padding: 20px;
        max-width: 600px;
        position: relative;
        top: 10%;
        left: 10%;
        display: block;
        z-index: 1;
    }
    .sectionThirdText p {
        color: #ffffff;
    }
    .ThirdBg{
        overflow: hidden;
    }
    .bgImgMobile{
        display: block;
        width: 95%;
        position: absolute;
        bottom: 8%;
        left: 2%;
    }

    .SectionfourthImg img{
        display: none;
    }
    .SectionfourthImg img {
        display: flex
    ;
        position: relative;
        right: 60%;
        width: 700px;
    
    }

.state_image img{
    width: 287px;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .onlymobile{
        display: none;
       }
       .header_text {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .p{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media (min-width: 992px) and (max-width: 1082px) { 
/* third section */

.sectionThird {
    background-color: hsl(237, 17%, 21%);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 500px;
    position: relative;
    border-radius: 0 120px 0 120px;
}

.MainImg {
    position: absolute;
    z-index: 0;
    width: 300px;
    top: -22%;
    left: 10%;
}
.bgImg {
    display: none;
}

.sectionThirdText {
    padding: 20px;
    max-width: 600px;
    position: relative;
    top: 10%;
    left: 10%;
    display: block;
    z-index: 1;
}
.sectionThirdText p {
    color: #ffffff;
}
.ThirdBg{
    overflow: hidden;
}
.bgImgMobile{
    display: block;
    width: 95%;
    position: absolute;
    bottom: 8%;
    left: 2%;
}
}


@media (min-width: 1200px) and (max-width: 1399.98px){ 
    .onlymobile{
        display: none;
       }
       .onlymobile img{
display: none;
       }
       .header_text {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .p{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media (min-width: 1400px) and (max-width: 1440px){ 
    .onlymobile{
        display: none;
       }
       .header_text {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .p{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}